*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    z-index: 1;
}
body {
    overflow-x: hidden;
}

/* PROJECT INFO/INTRO */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}
.project-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.project-number {
    margin-right: auto;
    z-index: 2;
    margin-left: 10px;
}
.project-number h1 {
    display: inline-block;
    position: relative;
    z-index: 2;
}
.blank-box {
    display: inline-block;
    position: relative;
    padding: 8px;
    background: rgb(214, 214, 214);
    width: 130px;
    margin-right: auto;
    top: 8px;
    right: 115px;
    z-index: 1;
}
.project-title {
    background: rgb(21, 29, 85);
    color: white;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}
.view-site {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(15, 181, 15);
    border: 2px solid rgb(0, 88, 0);
    box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.6);
    border-radius: 7px;
    margin-bottom: 10px;
    transition: transform 0.2s ease;
}
.view-site:hover {
    transform: scale(1.05);
    background-color: rgb(13, 152, 13);
}


/* PROJECT IMAGES */
.project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(13, 39, 118);
    color: white;
    padding: 30px 0px;
}
.project-images h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.desktop-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
}

.desktop-images img {
    max-width: 97vw;
    transition: transform 0.3s ease;
    z-index: 1;
}
.desktop-images img:hover {
    transform: scale(1.05);
    z-index: 5;
}

/* MOBILE IMAGES */
.mobile-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
    overflow-x: hidden;
    gap: 5px;
}
.image-scroll {
    display: flex;
    overflow-y: visible;
    overflow-x: auto;
    width: 100vw;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.mobile-images img {
    max-width: 90vw;
    height: 60vh;
    scroll-snap-align: start;
    border: 6px solid rgb(106, 106, 106);
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
}
.mobile-images img:hover {
    transform: scale(1.05);
    z-index: 5;
}

img {
    border: 3px solid rgb(106, 106, 106);
    border-radius: 5px;
    cursor: pointer;
}

/* PROJECT DESCRIPTION */
.project-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(237, 237, 237);
    width: 95%;
    padding: 8px;
    border: 3px solid rgba(48, 48, 48, 0.1);
}
.project-description p {
    font-size: 18px;
    line-height: 1.5;
}

