*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    z-index: 1;
}
header a:nth-child(5) {
    background: rgba(228, 228, 228, 0.7);
}

.about-me {
    font-family: 'Libre Baskerville', 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.about-me img {
    max-height: 60vh;
    max-width: 90vw;
}
.about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.about-me h1 {
    text-align: center;
    width: 90vw;
}
.about-me h2 {
    text-align: center;
    width: 80%;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}
.about-me p {
    display: flex;
    width: 90vw;
    font-size: 18px;
    line-height: 1.5;
}


@media screen and (min-width: 850px) {
    .about-me p {
        width: 60vw;
    }
}