*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    z-index: 1;
}

/* HEADER */
header {
    background: white;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 12px;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 1px 1px rgb(156, 156, 156, 0.3);
    font-family:'Times New Roman', Times, serif;
}
.header-line {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

header h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
header h1 a {
    text-decoration: none;
    color: inherit;
}
.header-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
}
.header-buttons a {
    text-decoration: none;
    color: black;
    height: 3vh;
    width: fit-content;
    padding: 0px 7px 0px 7px;
    display: flex;
    align-items: center;
    border-left: 1px solid black;
}
.header-buttons a:hover {
    background: rgba(228, 228, 228, 0.7);
}

/* FOOTER */
footer {
    background-color: rgb(53, 59, 96);
    height: fit-content;
    padding: 20px 0px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
footer strong {
    font-size: 1.1em;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover {
    color: rgb(235, 235, 235, 0.7);
}
footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media {
    display: flex;
    flex-direction: column;
}

.social-media a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.social-media a:hover {
    color: rgb(255, 255, 255, 0.6);
}


@media screen and (min-width: 850px) {
    /* HEADER */
    header {
        height: 10vh;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    .header-line {
        display: none;
    }
    header h1 {
        font-size: 24px;
    }
    .header-buttons {
        gap: 20px;
        position: sticky;
        top: 10px;
    }
    .header-buttons a {
        height: 5vh;
        padding: 0px 10px 0px 10px;
    }

    /* FOOTER */
    footer {
        justify-content: center;
        gap: 10vw;
    }
    footer p {
        font-size: 16px;
    }
}